body {
    margin: 0;
    padding: 0;
    background: #202125;
}

#Full {
    margin: 0px;
    padding: 0px;
    background: #202125;
}

#header {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1350px;
    width: 100%;
}

#Nav {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    text-decoration: none;
    box-sizing: border-box;
    padding-right: 300px;
    margin-top: 50px;
    height: 30px;
}

.navbar {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 10px 10px 0px 0px;
    justify-content: space-around;
    width: 60%;

    color: white;
    font-family: "Montserrat", Arial;
}

#Top {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 3;
    background-image: url(https://zoro.to/images/zoro-bg.jpg);
    background-size: cover;
    height: 580px;
}

.Box {
    max-width: 1210px;
    width: 100%;
    margin-left: 360px;
    height: 499px;

}

.content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 500px;
    position: relative;
    height: 300px;
}

.icon {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 700px;
    box-sizing: border-box;
}

.logo {
    margin-bottom: 30px;
    box-sizing: border-box;
    size: 20px;
    height: 60px;
    padding-left: 10px;
}

#Seach {
    display: block;
}

.Home-Search {
    margin: 0px;
    display: block;
    width: 600px;
    height: 160px;
}

.search-content {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.resizedTextbox {
    width: 520px;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    font-size: x-large;

}

.image {
    margin-left: 5px;
    height: 55px;
    width: 55px;
    border-radius: 52px;
    border-color: black;
}

.tags {
    height: 85px;


}

.title {

    color: white;
    font-size: 20px;
    font-family: "Montserrat", Arial;
}

.item {
    color: #aaa;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    font-family: "Montserrat", Arial;

}

.item:hover {
    color: #94CA47;
}

#Mid {
    background: #202125;
}

.Box1 {
    max-width: 1182px;
    width: 100%;
    margin-left: 360px;
    margin-right: 180px;
    padding-left: 15px;
    padding-right: 15px;
    height: 1500px;
}

#action-button {
    background-color: #cae962;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 40px;

}

.Site {

    font-family: "Montserrat", Arial;
    color: #111;
    font-weight: 545;
    font-size: xx-large;
    height: 40px;
    width: 200px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 10px;



}

.arrow {
    align-items: center;
    margin-top: 5px;
    height: 30px;

}

.Share-button-details {

    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    background-color: #121315;
    border-radius: 10px
}

.share-button-block {
    padding: 15px;
    display: flex;
    height: 50px;
    border-radius: 10px;
    position: relative;
}

.share-icon {
    display: none;
}

.share-title {
    width: 100px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: 2px solid #cae962;
    ;
    margin-right: 20px;
    height: 49px;
    color: #cae962;
    ;
}

.hey {
    font-size: large;
    width: 87px;

}

.hi {
    color: #ccc;
    width: auto;
    font-size: small;
    margin: 0px;
    height: 30px;

}

.share-social {
    display: flex;
    width: 100%;
}

.social {
    width: 100px;
    height: 49px;
}

button {
    border-color: #121315;
    background-color: #121315;
    border-right: #121315;
    border-bottom: #121315;
    text-decoration: none;
}

.social:hover {
    width: 103px;
    height: 52px;
}

.about {
    height: 1260px;
    display: flex;
}

.left {
    width: 720px;
    height: 1250px;
    box-sizing: border-box;
    margin-right: 50px;
    padding: 0px;
    border-right: 0px;
    position: relative;

}

.right {
    width: 400px;
    height: 1200px;
    box-sizing: border-box;
    float: right;

    position: relative;

}

.heading {
    font-size: 1.8em;
    font-weight: 530;
    margin: 0 0 1em;
    color: #fff;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ccc;
    font-weight: 500;
    margin: 5px;
    font-size: large;
}

h2 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 530;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: list-item;
    font-weight: 100;
    list-style: none;
    padding-left: 15px;
}

li {
    color: #ccc;
    margin-bottom: 15px;
    list-style: disc;
}

.heading-news {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 530;
    margin: 0 0 1em;
    color: #fff;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}

.Thing {
    background-color: rgb(255, 255, 255, .05);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.type {
    color: #aaa;

}

.item-name {
    color: #fff;

}

.subject {
    color: #aaa;
}

.owner {
    color: #fff;
}

.block {
    width: 340px;
    height: 10px;
    color: #ccc;
    background-color: rgb(255, 255, 255, .05);
    border-radius: 20px;
    justify-content: center;
    font-size: x-large;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.block:hover {
    background-color: #121315;
}

#footer {
    width: 1900px;
    height: 60px;
    display: flex;
    padding-top: 80px;
    padding-bottom: 40px;
    background: #202125;

}

.Bottom {

    margin-left: 362px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1180px;
    justify-content: space-around;
}

.end {
    margin: 16px;
}